<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>registro</h1>
    <h5>registrate es facil y rapido</h5>

    <form action="/datos" method="POST">
        <div>
            <input type="text" name="nombre" placeholder="indique su nombre" required id="nombre">
        </div>
        <div>
            <input type="text" name="apellido" placeholder="indique su apellido">
        </div>
        <div>
            <input type="text" name="usuario" placeholder="indique su usuario">
        </div>
        <div>
            <input type="date" name="nacimiento" placeholder="fecha de nacimiento">
        </div>
        <div>
            <input type="text" name="domicilio" placeholder="domicilio">
        </div>
        <div>
            <label for="Usuario">Perfil de usuario</label>
            <div class="perfil-de-usuario">
                <input type="radio" name="perfil-de-usuario" value="Comprador">Comprador
                <input type="radio" name="perfil-de-usuario" value="Vendedor">Vendedor
            </div>
        </div>
        <div>
            <label for="interes">Categorias de interes</label>
            <div>
                <input type="checkbox" name="interes" value="Electro">Electro
                <input type="checkbox" name="interes"value="Moda">Moda
                <input type="checkbox" name="interes" value="hogar">Hogar
                <input type="checkbox" name="interes" value="Jugeteria">jugateria
                <input type="checkbox" name="interes" value="vida-sana">Vida sana
            </div>
        </div>
        <div>
            <label>Selecciona una foto de perfil</label>
            <br>
            <input type="file" name="foto" accept="jpg">
        </div>
        <div>
            <label for="pass">Contraseña</label>
            <input type="password" name="password">

            <label for="pass"> Confirmar contraseña</label>
            <input type="password" name="password">
        </div>
        <div>
            <input type="submit" value="Enviar">
            <input type="reset" value="Borrar">
        </div>
    </form>
</body>

</html>